.row{
    display: flex;
    // 最外側距離回推，讓col不會有兩層padding(container和col)
    margin-left: -12px;
    margin-right: -12px;
}
.col-3,.col-4,.col-5,.col-6,.col-7,.col-8{
    padding-left: 12px;
    padding-right: 12px;
}
.col-3{
    width: calc(100% / 12 * 3);
}
.col-4{
    width: calc(100% / 12 * 4);
}
.col-5{
    width: calc(100% / 12 * 5);
}
.col-6{
    width: calc(100% / 12 * 6);
}
.col-7{
    width: calc(100% / 12 * 7);
}
.col-8 {
    width: calc(100% / 12 * 8);
}

@media (max-width: 992px) {
    .col-6-md{
        width: calc(100% / 12 * 6);
    }
    .col-7-md{
        width: calc(100% / 12 * 7);
    }
    .col-10-md{
        width: calc(100% / 12 * 10);
    }
    .col-12-md {
        width: 100%;
    }
}

@media (max-width: 767px) {
    .col-12-sm {
        width: 100%;
    }
}