//  文字尺寸
$display-1: 64px;
$display-2: 48px;
$display-3: 42px;
$display-4: 36px;
$display-5: 32px;

$fs-1: 24px;
$fs-2: 20px;
$fs-3: 18px;
$fs-4: 14px;
$fs-base: 16px;

// 色系
$primary: #AA0601;
$primary-light: #AA0511;
$primary-dark: #9F1213;
$primary-darkest: #650300;

$secondary: #FBF2F2;

$tertiary: #5F3E2D;
$tertiary-light: #B75929;

$black: #000;
$white: #fff;

$gray-900 : #0A0A0A;
$gray-800 : #212529;
$gray-700 : rgba(73, 80, 87, 0.75);
$gray-600 : #555555;
$gray-500 : #707070;
$gray-400 : #CED4DA;
$gray-300 : #DCDCDC;
$gray-200 : #DEE2E6;
$gray-100 : #F2F2F2;

$shadow: rgba(0, 0, 0, 0.12);