<footer class="bg-primary">
    <div class="container footer text-white">
        <div class="d-flex-sm justify-between-sm align-items-start-sm flex-row-reverse-sm">
            <div class="d-flex justify-between align-items-center">
                <!-- sitemap -->
                <ul class="d-flex d-none-sm">
                    <li class="mr-12">
                        <a href="./index.html" class="footer-link">首頁</a>
                    </li>
                    <li class="mr-12">
                        <a href="./productlist-optical.html" class="footer-link">系列鏡框</a>
                    </li>
                    <li class="mr-12">
                        <a href="./shoplist.html" class="footer-link">門市據點</a>
                    </li>
                    <li class="mr-12">
                        <a href="./bloglist.html" class="footer-link">部落格</a>
                    </li>
                    <li>
                        <a href="./Q&A.html" class="footer-link">常見問題</a>
                    </li>
                </ul>
                <!-- social link -->
                <ul class="d-flex">
                    <li class="mr-8">
                        <a href="#" class="footer-social-link">
                            <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/ic-social-fb.png?raw=true"
                                alt="Glasses眼鏡fb">
                        </a>
                    </li>
                    <li class="mr-8">
                        <a href="#" class="footer-social-link">
                            <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/ic_social_ig.png?raw=true"
                                alt="Glasses眼鏡ig">
                        </a>
                    </li>
                    <li>
                        <a href="#" class="footer-social-link">
                            <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/ic_social_line.png?raw=true"
                                alt="Glasses眼鏡line">
                        </a>
                    </li>
                </ul>
            </div>
            <ul class="h4 fs-base-sm mb-8 mb-6-sm">
                <li class="mb-2">
                    <a href="#" class="footer-contact"><span class="material-icons-outlined icon-link h4 fs-base-sm mr-4">call</span>0800-000-00</a>
                </li>
                <li>
                    <a href="#" class="footer-contact"><span
                            class="material-icons-outlined icon-link h4 fs-base-sm mr-4">mail</span>glasses@business.com
                    </a>
                </li>
            </ul>
        </div>
        <hr class="mb-8 mb-4-sm">
        <div class="d-flex justify-between align-items-center flex-column-sm align-items-start-sm">
            <p class="mb-2-sm">Copyright © 2020 Glasses.All rights reserved.</p>
            <ul class="d-flex jsutify-between flex-column-sm align-items-start-sm">
                <li class="fs-4 fs-base-sm mr-12 mb-2-sm">
                    <a href="#" class="footer-link">隱私權政策</a>
                </li>
                <li class="fs-4 fs-base-sm">
                    <a href="#" class="footer-link">服務條款</a>
                </li>
            </ul>
        </div>
    </div>
</footer>