<header class="bg-primary">
    <div class="container">
        <nav class="header d-flex justify-between align-items-center flex-column-sm align-items-start-sm">
            <a href="./index.html" class="logo">
                <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/logo-white.png?raw=true"
                    alt="最專業的服務都在Glasses眼鏡">
            </a>
            <ul class="d-flex fs-3 d-none-sm">
                <li class="mr-16"><a href="./productlist-optical.html" class="menu-link">系列鏡框</a></li>
                <li class="mr-16"><a href="./shoplist.html" class="menu-link">門市據點</a></li>
                <li class="mr-16"><a href="./bloglist.html" class="menu-link">部落格</a></li>
                <li><a href="./Q&A.html" class="menu-link">常見問題</a></li>
            </ul>
        </nav>
    </div>
</header>
<div class="bg-primary d-none d-block-sm">
    <ul class="d-flex flex-wrap">
        <li class="sm-menu-item">
            <a href="./productlist-optical.html" class="sm-menu-link">系列鏡框</a>
        </li>
        <li class="sm-menu-item">
            <a href="./shoplist.html" class="sm-menu-link">門市據點</a>
        </li>
        <li class="sm-menu-item">
            <a href="./bloglist.html" class="sm-menu-link">部落格</a>
        </li>
        <li class="sm-menu-item">
            <a href="./q&a.html" class="sm-menu-link">常見問題</a>
        </li>
    </ul>
</div>