<!DOCTYPE html>
<html lang="zh-TW">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>w3-眼鏡官網-產品列表optical</title>
    <!-- google font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;500;700&family=Roboto:ital,wght@0,400;0,500;1,900&display=swap"
        rel="stylesheet">
    <!-- google icon -->
    <link
        href="https://fonts.googleapis.com/css?family=Material+Icons%7CMaterial+Icons+Outlined%7CMaterial+Icons+Two+Tone%7CMaterial+Icons+Round%7CMaterial+Icons+Sharp"
        rel="stylesheet">
</head>

<body>
    <%- include('./layout/header'); -%>
    <!-- 內容區開始 -->
    <div class="container product-menu">
        <ul class="d-flex h5 fs-1-md fs-base-sm fw-med">
            <li class="product-menu-item">
                <a href="./productlist-optical.html" class="product-menu-link active">OPTICAL</a>
            </li>
            <li class="product-menu-item">
                <a href="./productlist-sunglasses.html" class="product-menu-link">SUNGLASSES</a>
            </li>
            <li class="product-menu-item">
                <a href="#" class="product-menu-link">FUNCTIONAL</a>
            </li>
        </ul>
    </div>
    <div class="d-flex">
        <div class="product-banner product-banner-glasses-optical"></div>
        <div class="product-banner product-banner-modal-optical"></div>
    </div>
    <div class="container product-content">
        <h1 class="h3 fs-1-sm fw-med">Celluloid Combi</h1>
        <h2 class="h5 fs-1-sm mb-8 mb-6-sm">賽璐珞鈦金屬混合鏡框</h2>
        <ul class="row flex-wrap fs-1 mb-20 mb-16-sm">
            <li class="card-item col-3 col-6-md col-12-sm mb-20 mb-10-md mb-6-sm">
                <div class="card-item-img">
                    <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-1.png?raw=true"
                        alt="BJ41600S-1" class="card-item-img-content">
                </div>
                <div class="d-flex justify-between">
                    <h3>BJ41600S</h3>
                    <p class="text-primary fw-med">NTD3,490</p>
                </div>
                <div class="d-flex">
                    <div class="palette bg-tertiary mr-2"></div>
                    <div class="palette bg-tertiary-l"></div>
                </div>
            </li>
            <li class="card-item col-3 col-6-md col-12-sm mb-20 mb-10-md mb-6-sm">
                <div class="card-item-img">
                    <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-2.png?raw=true"
                        alt="BJ41600S-2" class="card-item-img-content">
                </div>
                <div class="d-flex justify-between">
                    <h3 class="">BJ41600S</h3>
                    <p class="text-primary fw-med">NTD3,490</p>
                </div>
                <div class="d-flex">
                    <div class="palette bg-tertiary mr-2"></div>
                    <div class="palette bg-tertiary-l"></div>
                </div>
            </li>
            <li class="card-item col-3 col-6-md col-12-sm mb-20 mb-10-md mb-6-sm">
                <div class="card-item-img">
                    <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-3.png?raw=true"
                        alt="BJ41600S-3" class="card-item-img-content">
                </div>
                <div class="d-flex justify-between">
                    <h3 class="">BJ41600S</h3>
                    <p class="text-primary fw-med">NTD3,490</p>
                </div>
                <div class="d-flex">
                    <div class="palette bg-tertiary mr-2"></div>
                    <div class="palette bg-tertiary-l"></div>
                </div>
            </li>
            <li class="card-item col-3 col-6-md col-12-sm mb-20 mb-10-md mb-6-sm">
                <div class="card-item-img">
                    <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-4.png?raw=true"
                        alt="BJ41600S-4" class="card-item-img-content">
                </div>
                <div class="d-flex justify-between">
                    <h3 class="">BJ41600S</h3>
                    <p class="text-primary fw-med">NTD3,490</p>
                </div>
                <div class="d-flex">
                    <div class="palette bg-tertiary mr-2"></div>
                    <div class="palette bg-tertiary-l"></div>
                </div>
            </li>
            <li class="card-item col-3 col-6-md col-12-sm mb-20 mb-10-md mb-6-sm">
                <div class="card-item-img">
                    <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-5.png?raw=true"
                        alt="BJ41600S-5" class="card-item-img-content">
                </div>
                <div class="d-flex justify-between">
                    <h3 class="">BJ41600S</h3>
                    <p class="text-primary fw-med">NTD3,490</p>
                </div>
                <div class="d-flex">
                    <div class="palette bg-tertiary mr-2"></div>
                    <div class="palette bg-tertiary-l"></div>
                </div>
            </li>
            <li class="card-item col-3 col-6-md col-12-sm mb-20 mb-10-md mb-6-sm">
                <div class="card-item-img">
                    <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-6.png?raw=true"
                        alt="BJ41600S-6" class="card-item-img-content">
                </div>
                <div class="d-flex justify-between">
                    <h3 class="">BJ41600S</h3>
                    <p class="text-primary fw-med">NTD3,490</p>
                </div>
                <div class="d-flex">
                    <div class="palette bg-tertiary mr-2"></div>
                    <div class="palette bg-tertiary-l"></div>
                </div>
            </li>
            <li class="card-item col-3 col-6-md col-12-sm mb-20 mb-10-md mb-6-sm">
                <div class="card-item-img">
                    <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-1.png?raw=true"
                        alt="BJ41600S-1" class="card-item-img-content">
                </div>
                <div class="d-flex justify-between">
                    <h3 class="">BJ41600S</h3>
                    <p class="text-primary fw-med">NTD3,490</p>
                </div>
                <div class="d-flex">
                    <div class="palette bg-tertiary mr-2"></div>
                    <div class="palette bg-tertiary-l"></div>
                </div>
            </li>
            <li class="card-item col-3 col-6-md col-12-sm mb-20 mb-10-md mb-6-sm">
                <div class="card-item-img">
                    <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-2.png?raw=true"
                        alt="BJ41600S-2" class="card-item-img-content">
                </div>
                <div class="d-flex justify-between">
                    <h3 class="">BJ41600S</h3>
                    <p class="text-primary fw-med">NTD3,490</p>
                </div>
                <div class="d-flex">
                    <div class="palette bg-tertiary mr-2"></div>
                    <div class="palette bg-tertiary-l"></div>
                </div>
            </li>
            <li class="card-item col-3 col-6-md col-12-sm mb-20 mb-10-md mb-6-sm">
                <div class="card-item-img">
                    <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-3.png?raw=true"
                        alt="BJ41600S-3" class="card-item-img-content">
                </div>
                <div class="d-flex justify-between">
                    <h3 class="">BJ41600S</h3>
                    <p class="text-primary fw-med">NTD3,490</p>
                </div>
                <div class="d-flex">
                    <div class="palette bg-tertiary mr-2"></div>
                    <div class="palette bg-tertiary-l"></div>
                </div>
            </li>
            <li class="card-item col-3 col-6-md col-12-sm mb-20 mb-10-md mb-6-sm">
                <div class="card-item-img">
                    <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-4.png?raw=true"
                        alt="BJ41600S-4" class="card-item-img-content">
                </div>
                <div class="d-flex justify-between">
                    <h3 class="">BJ41600S</h3>
                    <p class="text-primary fw-med">NTD3,490</p>
                </div>
                <div class="d-flex">
                    <div class="palette bg-tertiary mr-2"></div>
                    <div class="palette bg-tertiary-l"></div>
                </div>
            </li>
            <li class="card-item col-3 col-6-md col-12-sm mb-6-sm">
                <div class="card-item-img">
                    <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-5.png?raw=true"
                        alt="BJ41600S-5" class="card-item-img-content">
                </div>
                <div class="d-flex justify-between">
                    <h3 class="">BJ41600S</h3>
                    <p class="text-primary fw-med">NTD3,490</p>
                </div>
                <div class="d-flex">
                    <div class="palette bg-tertiary mr-2"></div>
                    <div class="palette bg-tertiary-l"></div>
                </div>
            </li>
            <li class="card-item col-3 col-6-md col-12-sm">
                <div class="card-item-img">
                    <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-6.png?raw=true"
                        alt="BJ41600S-6" class="card-item-img-content">
                </div>
                <div class="d-flex justify-between">
                    <h3 class="">BJ41600S</h3>
                    <p class="text-primary fw-med">NTD3,490</p>
                </div>
                <div class="d-flex">
                    <div class="palette bg-tertiary mr-2"></div>
                    <div class="palette bg-tertiary-l"></div>
                </div>
            </li>
        </ul>
        <ul class="pagination">
            <li class="pagination-item">
                <a href="#" class="pagination-link">上一頁</a>
            </li>
            <li class="pagination-item">
                <a href="#" class="pagination-link active">1</a>
            </li>
            <li class="pagination-item">
                <a href="#" class="pagination-link">2</a>
            </li>
            <li class="pagination-item">
                <a href="#" class="pagination-link">3</a>
            </li>
            <li class="pagination-item">
                <a href="#" class="pagination-link">4</a>
            </li>
            <li class="pagination-item">
                <a href="#" class="pagination-link">5</a>
            </li>
            <li class="pagination-item">
                <a href="#" class="pagination-link">下一頁</a>
            </li>
        </ul>
    </div>
    <!-- 內容區結束 -->
    <%- include('./layout/footer'); -%>
    <script type="module" src="../main.js"></script>
</body>

</html>